* {
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
    background-color: #333333;
}

header{
    color: white;
    width: 100%;
    top: 0px;
    background-color: #1f1f1f;
}

header img{
    margin: 5px 0px 0px 5px;
}

header p{
    vertical-align: center;
}

header a{
    text-decoration: none;
    margin: 0px 15px;
}

header a:visited{
    color: white;
}

#sign-up{
    position: absolute;
    right: 7%;
    width: 30%;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    margin: 7% 10px;
}

#sign-up input{
    width: 95%;
    padding-top: 10px;
    margin: 10px 0px;
}

#sign-up label{
    font-weight: bold;
    font-size: large;
}

#sign-up h3{
    font-weight: normal;
    font-size: small;
}

#submit{
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background-color: greenyellow;
    font-size: larger;
    color:white;
}

#submit:hover{
    box-shadow: 5px 5px 15px black;
}

#slogan{
    width: 40%;
    color: white;
    position: absolute;
    left: 7%;
    margin: 10% 20px;
}

#slogan h1{
    font-size: 64px;
}

#slogan p{
    width: 40%;
}

ul{
    list-style: none;
    display: inline-flex;
    margin-bottom: 15px;
}