body{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-color: hsl(0, 0%, 88%);
    color: white;
}

main{
    overflow-y: scroll;
    height: fit-content;
}

#facebook{
    width: 80%;
}

header{
    background-color: rgb(40, 40, 241);
    padding: px 10px;
}

header h1{
    display: inline;
    text-align: left;
}

header input{
    border: 1px solid #111111;
    border-radius: 0px;
}

#login{
    text-align: right;
}

#right{
    position: absolute;
    right: 10%;
}

#left{
    position: absolute;
    left: 10%;
    height: fit-content;
}

#right input{
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;  
    margin: 5px; 
}

#right h3{
    color: #afafaf
}

footer{
    padding: 5px 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: small;
    background-color: white;
}

footer p{
    padding-bottom: 5px;
}

.cherka{
    border-bottom: 1px solid #eeeeee;
}